apiVersion: apps/v1
kind: Deployment
metadata:
  name: testapp
  labels:
    app: spring-music
    tier: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-music
  template:
    metadata:
      labels:
        app: spring-music
    spec:
      containers:
      - name: spring-music
        image: yanivomc/spring-music:latest